@import '~bootstrap/scss/bootstrap';

$primary: #cd9691;
$secondary: #a5a4ac;
$light: #d0c6c4;
$dark: #686775;
$success: #7a8d9b;

$theme-colors: (
  'primary': $primary,
  'secondary': $secondary,
  'light': $light,
  'dark': $dark,
  'success': $success,
);

$transition: all 0.5s ease;
$border-radius: 1rem;
$btn-padding-y: 0.7rem;
$btn-padding-x: 2rem;
$btn-border-radius: 0.8rem;

@import '../../node_modules/bootstrap/scss/bootstrap';