@import '../../styles/custom.scss';

.tier-info {
  width: 20px;
  height: 20px;
  margin: 0.3rem;
  border-radius: 0.4rem;
  &.tier1 {
    background-color: $light;
  }
  &.tier2 {
    background-color: $secondary;
  }
  &.tier3 {
    background-color: $dark;
  }
}

p {
  transform: translate(0px, 3px);
  margin-right: 10px;
}
